---
interface Props {
    label: string;
}
const { label } = Astro.props;
---

<div
    class:list={[
        "card-label",
        { purple: label === "Pengumuman", orange: label === "Berita" },
    ]}
>
    <p>{label}</p>
</div>

<style>
    .card-label {
        display: inline-block;
        padding: 0.5rem 1rem;
        border-radius: 20px;

        & p {
            color: white;
            font-size: 0.68rem;
            margin: 0;
        }

        &.purple {
            background: #732f9d;
        }

        &.orange {
            background: #ff6f6f;
        }
    }
</style>
