---
import { Image } from "astro:assets";

interface Props {
  image: ImageMetadata;
  title: string;
  description?: string;
  date?: string;
  label?: string;
}

const { image, title, description, date, label } = Astro.props;
---

<div class="article-card-container">
  <Image class="card-img" src={image} alt="" />
  <div class="card-body">
    {
      label && (
        <div class="card-label">
          <p>{label}</p>
        </div>
      )
    }
    <div class="card-header">
      <h3>{title}</h3>
      <p>{description}</p>
    </div>
  </div>
</div>

<style>
  .article-card-container {
    border-radius: 16px;
    cursor: pointer;

    &.card-body {
      align-self: stretch;
      height: 178px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 16px;
      display: flex;
    }

    &.card-img {
      height: 180px;
      background: linear-gradient(0deg, #c4c4c4 0%, #c4c4c4 100%);
      border-radius: 24px;
    }

    & .card-label {
      display: inline-block;
      padding: 0.2rem 0.8rem;
      background: #732f9d;
      border-radius: 20px;

      & p {
        color: white;
        font-size: 0.68rem;
      }
    }

    .card-header {
      & h3 {
        width: 357.33px;
        color: #404040;
        font-size: 1.2rem;
        font-weight: 500;
      }

      & p {
        width: 357.33px;
        color: #787878;
        font-size: 16px;
        word-wrap: break-word;
      }
    }
  }
</style>
