---
import { Icon } from "astro-icon/components";
---

<div class="feature-section">
  <div class="feature-item">
    <div class="feature-icon">
      <Icon name="lucide:book" size={36} />
    </div>
    <div class="feature-desc">
      <p>Menggunakan Kurikulum Terbaru</p>
    </div>
  </div>

  <div class="feature-item">
    <div class="feature-icon">
      <Icon name="lucide:clock" size={36} />
    </div>
    <div class="feature-desc">
      <p>Efektifitas Waktu Saat Belajar Disekolah</p>
    </div>
  </div>

  <div class="feature-item">
    <div class="feature-icon">
      <Icon name="lucide:pen-tool" size={36} />
    </div>
    <div class="feature-desc">
      <p>Penyaluran Bakat dan Minat Siswa</p>
    </div>
  </div>

  <div class="feature-item">
    <div class="feature-icon">
      <Icon name="lucide:trending-up" size={36} />
    </div>
    <div class="feature-desc">
      <p>Mengawasi Tumbuh Kembang</p>
    </div>
  </div>
</div>

<style>
  .feature-section {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem 3.6rem;
    border-radius: 1rem;
  }

  .feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feature-icon {
    border-radius: 100%;
    background-color: blueviolet;
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      color: white;
    }
  }

  .feature-desc {
    font-size: 1.4rem;
    text-align: center;
    color: #606060;
  }
</style>
