---
import { Image } from "astro:assets";

// Inagata image
import inagataTemplate from "../../public/Inagata Template.svg";
import SocialIcon from "./partials/SocialIcon.astro";
---

<footer>
  <section class="footer-container">
    <div class="main">
      <Image src={inagataTemplate} alt="Inagata Template" />
      <p>
        Jelajahi semua pengetahuan dan ilmu yang berguna bersama kami, untuk
        kehidupan yang lebih bermanfaat
      </p>
  
      <div class="social-icons">
        <div class="social-icon">
          <SocialIcon name="lucide:twitter">
        </div>
        <div class="social-icon">
          <SocialIcon name="lucide:facebook">
        </div>
        <div class="social-icon">
          <SocialIcon name="lucide:instagram">
        </div>
      </div>
    </div>
  
    <div class="footer-nav">
      <div class="footer-nav-item">
        <h3>Informasi</h3>
        <a href="/news">Artikel</a>
        <a href="/gallery">Galeri</a>
      </div>
      <div class="footer-nav-item">
        <h3>Tentang</h3>
        <a href="/about">Tentang Kami</a>
        <a href="/contact">Hubungi Kami</a>
      </div>
      <div class="footer-nav-item">
        <h3>Kantor Kami</h3>
        <p>Indonesia Unamed road RT 01 RW 02 Surabaya</p>
      </div>
    </div>
  </section>
  <section class="footer-copyright">
    <p>Copyright &copy; 2021. All right reserved.</p>
  </section>

</footer>

<style lang="scss">
  .footer-container {
    padding: 2.4rem 5.2rem;
    display: flex;
    justify-content: space-between;
  }

  .main {
    max-width: 420px;
  }

  .social-icons {
    display: flex;
    gap: 12px;
    align-items: center;
  }
  
  .footer-nav {
    width: 676px;
    height: 146px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 80px;
    display: inline-flex;

    & h3 {
      color: #4b4b4b;
      font-size: 24px;
      font-weight: 600;
      word-wrap: break-word;
    }

    & a,
    p {
      color: #787879;
      font-size: 20px;
      font-weight: 400;
      text-decoration: none;
    }
  }

  .footer-copyright {
    text-align: center;
    color: #4B4B4B;
    border-top: 1px solid #d3d7df;
    padding-bottom: 4rem;
  }
</style>
