---
interface Props {
  title: string;
  description: string;
}

import "@fontsource/poppins/400.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <div class="main">
      <slot />
    </div>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%;
    );
  }
  html {
    font-family: "Poppins", system-ui, sans-serif;
  }

  body {
    margin: 0;
  }

  main {
    position: relative;
    background-color: #6100c1;
    height: 100dvh;
    z-index: -10;
    padding: 0 5.2rem;
  }
</style>
